
<div class="container index">
  <div class="row">
    <div class="col col-md-2 col-xs-12">
      <div class="search-column">
        <p> search </p>
      </div>
    </div>
    <div class="col col-md-10 col-xs-12">
      <div class="row">
        <% @initiatives.each do |initiative| %>
          <div class="col-xs-12 col-sm-4">
            <div class="card-product">
              <%= cl_image_tag initiative.photo, width: 120, height: 120  %>
              <div class="card-product-infos">
                <%= link_to initiative.name, initiative_path(initiative)  %>
                <p><%= initiative.description %></p>
                <p><strong> <%= initiative.country %></strong> </p>
                <p><%= initiative.sector_activity %></p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
  </div>
</div>








