
<!-- <div class="container index">
      <div class="search-column">
        <div> </div>
        <%= form_tag initiatives_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search..."
        %>
        <% end %>
    </div> -->
    <div class="results">
      <div class="row">
        <% @initiatives.each do |initiative| %>
          <div class="col-xs-12 col-sm-4">
            <div class="card-product">
              <%= cl_image_tag initiative.photo, width: 120, height: 120  %>
              <div class="card-product-infos">
                <%= link_to initiative.name, initiative_path(initiative)  %>
                <p><%= initiative.description %></p>
                <p><strong> <%= initiative.country %></strong> </p>
                <p><%= initiative.sector_activity %></p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>








