<div class="container container-global">
  <div class="row">
    <div class="col col-sm-3 offset-md-1">
      <div class="sidebar">
        <div class="imglog"><%= image_tag("link.png")%></div>
        <div class="arbre"><%= image_tag("arbre.svg") %></div>
        <div class="about"></div>
     </div>
    </div>
    <div class="col col-sm-8">
        <%= render "shared/navbar" %>

<div class="mini-container">
<%= form_tag initiatives_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an initiative ..."%>
<% end %>
</div>

<div class="results">
  <div class="row">
    <% @initiatives.each do |initiative| %>
      <div class="col-xs-12 col-sm-6">
        <div class="card-product">
          <%= cl_image_tag initiative.photo, class:"cover", width: 120, height: 120  %>
          <div class="card-product-infos">
            <%= link_to initiative.name, initiative_path(initiative)  %>
            <p><%= initiative.description %></p>
            <div class="localisation">
            <%= image_tag "placeholder.png", width: "25px", height: "25px" %>
            <p><%= initiative.country %></p>
            </div>
            <p><strong><%= initiative.sector_activity %></strong></p>
          </div>
        </div>
      </div>
  <% end %>
</div>
</div>
  <div class="btn-add">
    <%= link_to " + Add an initiative", new_initiative_path %>
  </div>
</div>
    </div>
  </div>
</div>


