<div class="container container-global">
  <div class="row">
    <div class="col col-sm-3 offset-md-1">
      <div class="initiative-sidebar">
        <div class="imglog"><%= image_tag("link.png")%></div>
        <%= cl_image_tag @initiative.photo, class: 'ini-photo' %>
        <div class="ini-sdg">
            <%= image_tag "sdg3.png" %>
            <%= image_tag "sdg5.png" %>
            <%= image_tag "sdg6.png" %>
        </div>
          <div class="characteristics">
            <div class="chara">
              <%= image_tag("globe-europe-solid.svg") %>
              <%= @initiative.country %>
            </div>
            <div class="chara">
              <%= image_tag("hand-holding-usd-solid.svg") %>
              <%= @initiative.budget %>
            </div>
            <div class="chara">
              <%= image_tag("calendar-alt-solid.svg") %>
              <p>2005</p>
            </div>
            <div class="chara">
              <%= image_tag("hand-holding-heart-solid.svg") %>
              <p>Hospitals</p>
            </div>
          </div>
      </div>
    </div>
  <div class="col col-sm-8">
    <%= render "shared/navbar" %>
  <% if current_user.role == "entrepreneur" %>
  <div class="dashboard">
    <h2><%= @initiative.name %></h2>
    <h3><%= @initiative.description %></h3>
    <% @initiative.activities.each_with_index do |activity, index| %>
      <div class="activities">
        <div class="activity-title">
         <div class="activity-index"><%= index + 1 %></div>
         <div class="outcome-block">
          <h3><%= activity.title %></h3>
          <table class="outable">
            <tr>
              <th>Outcomes</th>
              <th>Objectives</th>
              <th>Last value</th>
              <th>Entry date</th>
              <th>Add new</th>
            </tr>
            <% activity.outcomes.each do |outcome| %>
            <tr>
              <td class="outcome-title"><%= outcome.title %></td>
              <td class="outcome-objective"><%= outcome.objective_value %></td>
              <td class="outcome-value"><%= outcome.outcome_values.last ? outcome.outcome_values.last.value : "NA" %></td>
              <td class="outcome-date"><%= outcome.outcome_values.last ? outcome.outcome_values.last.created_at : "NA" %></td>
              <td class="outcome-add-value"><%= link_to "add a new value", new_outcome_outcome_value_path(outcome) %></td>
            </tr>
           <% end %>
           </table>
        </div>
        </div>
      </div>
    <% end %>
  </div>
  </div>
  <% else %>
  <div class="dashboard">
    <h2><%= @initiative.name %></h2>
    <h3><%= @initiative.description %></h3>
    <% @initiative.activities.each_with_index do |activity, index| %>
      <div class="activity-description">
        <div class="activity-index"><%= index %></div>
        <div class="activity-progress">
           <p class="ini-activities"><%= activity.title %></p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
  </div>
</div>
