<%= javascript_pack_tag 'chartkick' %>

<div class="container container-global">
  <div class="row">
    <div class="col col-sm-3 offset-md-1">
      <div class="initiative-sidebar">
        <div class="imglog"><%= image_tag("link.png")%></div>
        <%= cl_image_tag @initiative.photo, class: 'ini-photo' %>
        <div class="ini-sdg">
            <%= image_tag "sdg3.png" %>
            <%= image_tag "sdg5.png" %>
            <%= image_tag "sdg6.png" %>
        </div>
          <div class="characteristics">
            <div class="chara">
              <%= image_tag("globe-europe-solid.svg") %>
              <%= @initiative.country %>
            </div>
            <div class="chara">
              <%= image_tag("hand-holding-usd-solid.svg") %>
              <%= @initiative.budget %>
            </div>
            <div class="chara">
              <%= image_tag("calendar-alt-solid.svg") %>
              <p>2005</p>
            </div>
            <div class="chara">
              <%= image_tag("hand-holding-heart-solid.svg") %>
              <p>Hospitals</p>
            </div>
          </div>
        <div class="fin">
        </div>
      </div>
    </div>
  <div class="col col-sm-8">
    <%= render "shared/navbar" %>
  <div class="dashboard">
    <h2><%= @initiative.name %></h2>
    <h3><%= @initiative.description %></h3>
    <div class="activities">
    <% @initiative.activities.each_with_index do |activity, index| %>
        <div class = "activity-chart">
          <div class="graph">
            <div class ="number"> <%= (activity.progress*100).round %>% </div>
            <%= pie_chart [["positif", activity.progress],["negatif", 1 - activity.progress]], colors: ["#44AEBC", "#d8cbbb"], donut: true,library: {cutoutPercentage: 65}, legend: false, width: "80px", height: "80px"%>
          </div>
            <h2><%= activity.title %></h2>
        </div>
        <div class="values-progression">
          <% activity.outcomes.each do |outcome| %>
          <div class="outcome-first">
            <h3><%= outcome.title%></h3>
            <% if current_user.role == "entrepreneur" %>
            <div class="boutons">
              <div class="btn-primary"><%= link_to "add a new value", new_outcome_outcome_value_path(outcome)%></div>
              <div class="btn-danger"><%= link_to "declare conflict", new_outcome_outcome_value_path(outcome)%></div>
            </div>
            <% end %>
          </div>
          <div class="outcome-second">
            <div class = "metrics">
              <div class="met">
                <div class="indic">Objective</div>
                <div class="nb"><%= outcome.objective_value.round %></div>
              </div>
              <div class="met">
                <div class="indic">Progress</div>
                <div class="nb"><%= (outcome.progress*100).round %>%</div>
              </div>
              <div class="met">
                <div class="indic">Last update</div>
                <div class="nb"><%= outcome.outcome_values.last.created_at.strftime("%D") %> </div>
              </div>
            </div>
          <%#= line_chart outcome.chart_array, colors: ["#44AEBC", "#d8cbbb"], donut: true, legend: false, width: "70%"%>
          <%= column_chart outcome.chart_array, colors: ["#44AEBC", "#d8cbbb"], legend: false, width: "70%"%>
          </div>
                <% end %>
        </div>
    <% end %>
    </div>
  </div>
</div>
