<div class="container container-global">
  <div class="row">
    <div class="col col-sm-3 offset-md-1">
      <div class="initiative-sidebar">
        <div class="imglog"><%= image_tag("link.png")%></div>
        <%= cl_image_tag @initiative.photo, class: 'ini-photo' %>
        <div class="ini-sdg">
            <%= image_tag "sdg3.png" %>
            <%= image_tag "sdg5.png" %>
            <%= image_tag "sdg6.png" %>
        </div>
          <div class="characteristics">
            <div class="chara">
              <%= image_tag "loc.png" %>
              <%= @initiative.country %>
            </div>
            <div class="chara">
              <%= image_tag "money-bag.png" %>
              <%= @initiative.budget %>
            </div>
            <div class="chara">
              <%= image_tag "loc.png" %>
              <p>2005</p>
            </div>
            <div class="chara">
              <%= image_tag "loc.png" %>
              <p>Hospitals</p>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="col col-sm-8">
  </div>
</div>
