<div class="container container-global">
  <div class="row">
    <div class="col col-sm-3 offset-md-1">
      <div class="initiative-sidebar">
        <div class="imglog"><%= image_tag("link.png")%></div>
        <%= cl_image_tag @initiative.photo, class: 'ini-photo' %>
        <div class="ini-sdg">
            <%= image_tag "sdg3.png" %>
            <%= image_tag "sdg5.png" %>
            <%= image_tag "sdg6.png" %>
        </div>
          <div class="characteristics">
            <div class="chara">
              <%= image_tag("globe-europe-solid.svg") %>
              <%= @initiative.country %>
            </div>
            <div class="chara">
              <%= image_tag("hand-holding-usd-solid.svg") %>
              <%= @initiative.budget %>
            </div>
            <div class="chara">
              <%= image_tag("calendar-alt-solid.svg") %>
              <p>2005</p>
            </div>
            <div class="chara">
              <%= image_tag("hand-holding-heart-solid.svg") %>
              <p>Hospitals</p>
            </div>
          </div>
      </div>
    </div>
  <div class="col col-sm-8">
    <%= render "shared/navbar" %>
  <div class="dashboard">
    <h2><%= @initiative.name %></h2>
    <h3><%= @initiative.description %></h3>
    <% @initiative.activities.each_with_index do |activity, index| %>
      <div class="activity-description">
        <div class="activity-index"><%= index %></div>
        <div class="activity-progress">
           <p class="ini-activities"><%= activity.title %></p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
  </div>
</div>
