<%= javascript_pack_tag 'chartkick' %>

<div class="container">
  <div class="history">
    <div class="title"><%= @outcome.title %></div>
    <div class="yobj"> Yearly objective : <%= @outcome.objective_value %></div>
  </div>
  <div class="info">
      <table class="tabulae">
        <tr class="Intitules">
          <th>Date</th>
          <th>Outcome</th>
        </tr>
    <% @outcome.outcome_values.each do |outcome_value|%>
        <tr>
          <td><%= outcome_value.created_at.strftime("%D") %></td>
          <td><%= outcome_value.value %></td>
        </tr>
      <% end %>
    </table>
    <%= column_chart @outcome.chart_array, colors: ["#44AEBC", "#EEE"], legend: false, width: "70%", height: "auto"%>
    </div>
  <div class="new-value">
  <%= simple_form_for [@outcome, @outcome_value] do |f| %>
    <%= f.input :value %>
    <%= f.button :submit, class: "btn-primary" %>
    <% end %>
  </div>
</div>

