<%= javascript_pack_tag 'chartkick' %>

<div class="container">
  <div class="history">
    <p><%= @outcome.title %></p>
    <p> Yearly objective : <%= @outcome.objective_value %></p>
    <% @outcome_values.each do |outcome_value|%>
    <%= outcome_value.created_at %>
    <%= outcome_value.value %>
    <% end %>
  </div>
  <div class="new-value">
  <%= simple_form_for [@outcome, @outcome_value] do |f| %>
    <%= f.input :value %>
    <%= f.button :submit, class: "btn-primary" %>
    <% end %>
  </div>
</div>

<%= column_chart @ov_array, colors: ["#1F2673", "#FFF"], legend: false, width: "140px", height: "140px"%>

